/vendor
.env
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*

/storage/app/public/*
!/storage/app/public/.gitignore
/storage/work/*
/storage/backups/*

